.content{
    overflow: hidden;
    margin-left: auto;
    margin-right: auto;
    max-width: 1370px;
}
.container {
    padding-left: 0px;
    padding-right: 0px;
    max-width: 1170px !important;
}
.button{
    width:143px;
    height: 37px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border:none;
    background-image: linear-gradient(to left,#FF3600,white);
    margin-left: 15px;
}
.button-img{
    cursor: pointer;
}
.button-upper{
    width:140px;
    height: 35px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background-color: white;
    border:none;
    position:absolute;
    margin-left:-141px;
    margin-top:1px;
    outline: none !important;
    cursor: pointer;
}
.button-img{
    position: absolute;
    z-index: 1;
}
.hr-long{
    background-color: #fc9601;
    height: 2px;
    border:none;
}
.hr{
    background-color: #fc9601;
    height: 5px;
    width: 55px;
    border:none;
}
.hr2{
    background-color: white;
    height: 2px;
    width: 45px;
    border:none;
    margin-left:65px;
}
.hr3{
    background-color: #ffca05;
    height: 3px;
    width: 50px;
    border:none;
    margin-left:0px;
    margin-top:-15px;
}
.hr4{
    background-color: #d7d7d7;
    height: 5px;
    width: 55px;
    border:none;
    margin-top: -5px;
}
.text-my-sb{
    font-family: SFDisplay-SemiBold;
    font-size: 27px;
    color: #F15A22;
}
.text-my-regular{
    font-family: SFDisplay-Regular;
    font-size: 15.53px;
    color: #58595B;
}
.text-my-regular-1{
    font-family: SFDisplay-Regular;
    font-size: 15.53px;
    color: white;
}
.text-my-regular-2{
    font-family: SFDisplay-Regular;
    font-size: 16px;
    color:  black;
}
.text-my-regular-3{
    font-family: SFDisplay-Regular;
    font-size: 15.53px;
    color: #F15A22;
}
.text-my-regular-4{
    font-family: SFDisplay-Regular;
    font-size: 15px;
    color: #58595B;
}
.text-my-regular-5{
    font-family: SFDisplay-Regular;
    font-size: 14px;
    color: #58595B;
}
.text-my-semi.text-my-semi{
    font-family: SFDisplay-SemiBold;
    font-size: 15.53px;
    color: #58595B;
}
.text-my-semi-2{
    font-family: SFDisplay-SemiBold;
    font-size: 16.63px;
    color: #FCFC03;
}
.text-my-medium-3{
    font-family: SFDisplay-Medium;
    font-size: 16px;
    color: #FD9701;
}
.text-my-semi-4{
    font-family: SFDisplay-SemiBold;
    font-size: 20px;
    color: #58595B;
}
.text-my-semi-5{
    font-family: SFDisplay-SemiBold;
    font-size: 22px;
    color: #F15A22;
}
.text-my-semi-6{
    font-family: SFDisplay-SemiBold;
    font-size: 16.63px;
    color: #F15A22;
}
.text-my-bold{
    font-family: SFDisplay-Bold;
    font-size: 16.63px;
    color: #FF3600;
}
.text-my-bold-1{
    font-family: SFDisplay-Bold;
    font-size: 16px;
    color: #F15A22;
}
.text-my-bold-2{
    font-family: SFDisplay-Bold;
    font-size: 20px;
    color: #006967;
}
.text-samsung-bold{
    font-family: iCielSamsungSharpSans-Bold;
    color: white;
}

/* header
 .round {
        border: solid 1px gray;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        top: -21px;
        margin-left: 50%;
        background: white;
    }

    .round1 {
        border: solid 1px gray;
        width: 10px;
        height: 10px;
        border-radius: 10px;
        position: absolute;
        top: -21px;
        margin-left: 1%;
        background: white;
    }
    .carousel-indicators li{
    border-radius: 50%;
    background-color:yellow;
    width: 10px;
    height: 10px;
    }
    .carousel-indicators .active{
        border:3px;
        width: 30px;
        height: 30px;
    }
    .icon {
        text-align: center;
    }

    .icon1 {
        text-align: right;
    }

    .nav-link{
        font-family: SFDisplay-Regular;
        font-size: 15.53px;
        color: white !important;
    } */
    @media screen and (max-width:991.98px){
.navbar-fixed-top{
    background-image : linear-gradient(to right, #0db143,#006768) !important;
}
.show {display: inline-block}
    } 
    /* search */
    #myInput {
  box-sizing: border-box;
  background-position: 14px 12px;
  background-repeat: no-repeat;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-bottom: 1px solid #ddd;
}

#myInput:focus {outline: 3px solid #ddd;}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f6f6f6;
  max-width: 230px;
  overflow: auto;
  border: 1px solid #ddd;
  z-index: 1;
  left:-180px;
  top:50px;
}



.show {display: block;float: right}

.chutrang a{
    color: white !important;
    font-size: 19px !important;
    font-weight: 500;
}
.menu {
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}
.menu::after{
    position:absolute;
    content:"|";
    color: white;
    right: -7px;
    top: 10px;
    font-weight: 10;
    font-size: 15px;
}
/* slideshow */
.carousel-indicators li {
    width: 10px !important;
    height: 10px !important;
    border-radius: 50% !important;
    background-color: rgb(28, 248, 219) !important;
    padding: 5px !important;
}
.carousel-indicators .active {
    border: 3px solid #00FFEC!important;
    border-radius: 50%!important;
    border-left: 3px solid transparent!important;
    width: 40px!important;
    height: 40px!important;
    background-color: transparent !important;
    animation: spin 2s linear infinite;
}
.carousel-indicators .active span{
    display:block;
    font-family:SFDisplay-Bold;
    text-align: center!important;
    font-size: 18px !important;
    line-height: 40px;
    text-indent: initial!important;
    background: linear-gradient(to bottom right, #009CFF,#008FFF,#002A9A);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: no-spin 2s linear infinite!important;
}
@keyframes spin {
    from {
      transform: rotate(0deg)
    }
    to {
      transform: rotate(360deg)
    }
  }
@keyframes no-spin {
    from {
      transform: rotate(360deg)
    }
    to {
      transform: rotate(0deg)
    }
  }

